<form [formGroup]="form" (ngSubmit)="submitHandler()">
  <div class="input-field">
    <input formControlName="email">
  </div>
  <div class="input-field">
    <input formControlName="password">
  </div>

  <button type="submit">Sign in</button>
</form>
