<div>
  <h1>Signal</h1>
  <p>data: {{ Posts$() |json }}</p>
  <p>count: {{ count }}</p>
</div>
<div>
  <h1>Observable</h1>
  <p>data: {{ ObsPosts$ |async |json }}</p>
  <p>count: {{ count$ |async }}</p>
</div>
<div>
  <button (click)="clickHandler()">CLICK</button>
</div>
